body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0F4336;
    color: #FFFFFF;
    padding: 1em;
}
.header-title {
    margin-right: 3em;
    margin-bottom: 0;
    margin-top: 0;
}
nav ul {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #FFFFFF;
    padding: 0;
    text-align: center;
    margin: 0;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1em;
}
nav ul li:hover {
    background-color: #0F4336;
}
nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.5em;
}
nav ul li a:hover {
    color: #333333;
}
.sub-menu {
    position: absolute;
    background-color: #0F4336;
    text-align: left;
    list-style-type: none;
    width: auto;
    padding-left: 0px;
    margin-left: -25px;
    padding-top: 5px;
    opacity: 0;
}
.sub-menu li {
    padding: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav li:hover .sub-menu{
    opacity: 1;
}
.navbar {
    justify-content: center;
    align-items: center;
    display: inline;
    padding: 1em;
    overflow: hidden;
    color: #FFFFFF;
    padding: 0;
    text-align: center;
    margin: 0;
}
a:hover {
    color: #333333;
}
.header-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pages/images/carslider1.jpg");
    height: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static ;
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    color: #FFFFFF;
}
.header-text {
    font-size: 48px;
    font-family: 'Gill Sans MT';
}
main {
    padding: 1em;
}
.paragraph-text {
    font-size: 1.5em;
}
main h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 70px;
}
.photo-container {
    position: relative;
    border: 2px solid #000000;
    width: 400px;
    align-content: center;
}
.photo-container img {
    max-width: 100%;
    height: auto;
}
.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-bottom: 70px;
}
.text-block {
    position: absolute;
    bottom: 5px;
    left: 0px;
    background-color: #0F4336;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}
.figure-container {
    width: 480px;
    color: #FFFFFF;
    background-color: #0F4336;
    border: 2px solid #000000;
    margin: auto;
    display: inline-block;
}
.figure-container img {
    max-width: 100%;
    height: auto;
}
.figure-container p {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 8px;
}
.figure-container figcaption {
    margin: 5px;
    font-size: 1.5em;
    font-weight: bold;
}
.comparsion-container {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
}
.image-container {
    background-color: #333333;
    width: auto;
}
.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
}
.navigation-container-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    margin-bottom: 70px;
}
.navigation-button {
    font-size: 2em;
    border-radius: 0px;
}
.navigation-button-current-page {
    font-size: 2em;
    border-radius: 0px;
    background-color: gray;
}
span {
    font-size: 2em;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}
.read-more-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
}
.read-more-button {
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #000000;
    border-radius: 0.5em;
    color: #FFFFFF;
    background-color: #A97156;
}
.read-more-button:hover {
    background-color: #BABABA;
}
.news-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
}
.news-container-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #0F4336;
    color: #FFFFFF;
    padding: 1em;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 1em;
    width: 50%;
    overflow: auto;
    white-space: nowrap;
}
.news-container-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #0F4336;
    color: #FFFFFF;
    padding: 1em;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 1em;
    width: 50%;
    overflow: auto;
    white-space: nowrap;
}
.merch-container-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #0F4336;
    color: #FFFFFF;
    padding: 1em;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 1em;
    width: 33%;
    overflow: auto;
    white-space: nowrap;
}
.merch-container-center{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #0F4336;
    color: #FFFFFF;
    padding: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 1em;
    width: 33%;
    overflow: auto;
    white-space: nowrap;
}
.merch-container-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #0F4336;
    color: #FFFFFF;
    padding: 1em;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 1em;
    width: 33%;
    overflow: auto;
    white-space: nowrap;
}
.merch-button-container {
    width: auto;
    flex-direction: row;
}
.merch-button {
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #000000;
    border-radius: 0.5em;
    color: #FFFFFF;
    background-color: #A97156;
}
.merch-button:hover {
    background-color: #BABABA;
}
.merch-img-container {
    width: 240px;
    height: 240px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.review-container{
    padding: 1em;
    max-width: 75%;
    white-space: normal;
}
.news-img {
    max-width: 240px;
    max-height: 240px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #FFFFFF;
}
.review-img {
    width: 400px;
    height: auto;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.reviews-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0F4336;
    color: #FFFFFF;
    padding: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 1em;
    overflow: auto;
    white-space: nowrap;
}
footer {
    background-color: #333333;
    color: #FFFFFF;
    text-align: center;
    padding: 0.5em;
    position: fixed;
    width: 100%;
    bottom: 0;
}